<header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo"><b>Ware </b>Cafe Restorant </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
           

          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              
            </div>
            <div class="pull-left info">
              

            </div>
          </div>
          
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">Yönetim</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Kontrol Paneli</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Günlük Gün Sonu</a></li>
                <li><a href="index2.html"><i class="fa fa-circle-o"></i> Genel Ay Sonu</a></li>
                <li><a href="index2.html"><i class="fa fa-circle-o"></i> Genel Yıl Sonu</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Servis</span>
                <span class="label label-primary pull-right">4</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
              </ul>
            </li>
            <li>
              <a href="pages/widgets.html">
                <i class="fa fa-mobile "></i> <span>Mobil Servis</span> <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Siparişler</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-laptop"></i>
                <span>Raporlar</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Satış Analizi</a></li>
                <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Açık Masa Raporu</a></li>
                <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Sipariş Hazırlama Raporu</a></li>
                <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Detaylı Satış Raporu</a></li>
                <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Kasa Hareketleri</a></li>
                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Masa Raporu</a></li>
                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Ödeme Raporu</a></li>
                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Personel Performans Raporu</a></li>
                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Kategori Satış Raporu</a></li>
                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Ürün Satış Raporu</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Trafik</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-table"></i> <span>Muhasebe</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Müşteriler</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Ürünler</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Kasa</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Satış Fişleri</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Satın Alma Fişleri</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Ürünler Fişleri</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Adisyonlar</a></li>
                
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-gear"></i> <span>Ayarlar</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'admin_panel:logo_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i>Logo Ayarı</a></li>
                <li><a href="{% url 'admin_panel:icon_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> Sekme İkonu Ayarı</a></li>
                <li><a href="{% url 'admin_panel:isim_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> İşletme Adı Ayarı</a></li>
                <li><a href="{% url 'admin_panel:numara_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> İşletme Numarası Ayarı</a></li>
                <li><a href="{% url 'admin_panel:adres_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> İşletme Adresi Ayarı</a></li>
                <li><a href="{% url 'admin_panel:eposta_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> İşletme E-Posta Adresi Ayarı</a></li>
                <li><a href="{% url 'admin_panel:instagram_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> İşletme İnstagram Adresi Ayarı</a></li>
                <li><a href="{% url 'admin_panel:banner_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> İşletme Banner Ayarları</a></li>
                <li><a href="{% url 'admin_panel:hakkimizda_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> İşletme Hakkımızda Ayarları</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-gear"></i> <span>Yönetim</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'admin_panel:bolgeler_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> Bölgeler</a></li>
                <li><a href="{% url 'admin_panel:menu_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> Menü</a></li>
                <li><a href="{% url 'admin_panel:masa_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> Masalar</a></li>
                <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Bölümler</a></li>
                <li><a href="{% url 'admin_panel:kategori_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> Kategoriler</a></li>
                <li><a href="{% url 'admin_panel:birim_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> Birimler</a></li>
                <li><a href="{% url 'admin_panel:urun_duzenleme_sayfasi' %}"><i class="fa fa-circle-o"></i> Ürünler</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Kullanıcılar</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Müşteriler</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> İndirimler</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Özellikler</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Üretim</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Rota</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Yetkilendirmeler</a></li>
              </ul>
            </li>
         
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>